body{
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    margin: 50px;
}

h1{
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0px;
    margin-left: 10px;

}

h2{
    color: lightgray;
    font-size: 15px;
    margin-top: 2px;
    margin-left: 10px;
}

li h2:last-child{
    color: gray;
}

ul{
    display: flex;
    flex-flow: row;
}

li{
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: 10px;
}

img{
    padding: 10px;
}

.bold{
    font-weight: bold;
    color: black;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 350px;
    height: 180px;
}

.title{
    grid-area: 1 / 1 / 2 / 4;
}

.foto{
    grid-area: 1 / 4 / 2 / 5;
}

.subtext{
    grid-area: 2 / 1 / 3 / 5;
}

.buttons{
    grid-area: 3 / 1 / 4 / 5;
    border-top: 2px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons p:first-child{
    color: green;
    border: 2px solid green;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
    padding: 3px;
    padding-left: 45px;
    padding-right: 45px;
}

.buttons p:last-child{
    color: red;
    border: 2px solid red;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 3px;
    padding-left: 45px;
    padding-right: 45px;
}

