body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    background-color: whitesmoke;
    width: 600px;
}

ul {
    list-style-type: none;
    margin: 5%;
    padding: 5%;
}

li a {
    background-color: honeydew;
    color: rgb(209, 30, 30);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: darkblue;
    width: 600px;
    padding-left: 0;
}

article a:hover{
    background-color: blue;
    color: lightblue;
    font-weight: bold;
}

article a:visited{
    color: greenyellow;
}

article a:active{
    color: red;
    font-weight: 900;
}

form :focus{
    font-size: 20px;
    color: green;
}

.current_page{
    background-color: burlywood;
}

.navbar a:hover{
    background-color: lightblue;
    font-weight: bold;
}

li form input:focus{
    border: 5px solid aqua;
    font-size: 16px;
}
