@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:550px;
}

h1::before, h1::after{
    background-color: #4A90E2;
    content: '';
    display: inline-block;
    height: 25px;
    width: 22px;
    position: static;
}

h1::before {  
    border-radius: 20px 0px 0px 20px;
    margin-right: 4px;
    margin-top: 2px;
}

h1:after {  
    border-radius: 0px 20px 20px 0px;
    margin-left: 4px;
    margin-top: 2px;
}



