body{
    background-color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header{
    border: 3px solid rgb(10, 238, 40);
    background-color: honeydew;
    font-size: large;
    font-style: oblique;
    padding: 3px;
    top: 6px;
    margin: auto;
    width: 80%;
}

ul.navigatie{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border:3px solid teal;
    top: 0;
    width: 80%;
    list-style-type: none;
    margin: 3px auto;
    margin-bottom: 18px;
    padding: 3px;
    overflow: hidden;
    background-color: honeydew;
}



li.navigatie{
    display: flex;
    flex-flow: row wrap;
    
}

li a.navigatie{
    border:3px solid rgb(33, 11, 230);
    border-radius: 10px;
    background-color: rgb(33, 236, 135);
    font-size: larger;
    text-align: center;
    text-decoration: moccasin;
    padding: 8px;
}

li a.navigatie:hover {
    background-color: rgb(12, 235, 41);
}

form input{
    font-size: large;
}

form textarea{
    font-size:large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blogpost_flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.blogpost {
    width: 300px; border: 1px solid black; 
    flex-grow: 2;
    align-self: center;
}

/*@media screen and (max-width: 320px) {}*/

@media(min-width: 1024px) {
    body{
        background-color: lightgrey;
        color: rgb(10, 31, 31);
        font-size: normal;
        line-height: 30px;
    }
}
/*/ Smartphones (portrait)
minimale breedte : 320px;

// Tablets (portrait)
minimale breedte : 768px

// Desktop 
minimale breedte : 1024px*/ 