body{
    background-color: aqua;
    color: burlywood;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: 400;
    
    line-height: 20px;
    margin: auto;
    border: 5px, black; 
    border-style: ridge;
    border-radius: 20px;
    padding: 6px;
}

.container{
    width: 60%;
    height: 80%;
    margin: 10%;
}
ul{
    color: black;
    font-size: bold;
    
}
h1{
        background-color: #666;
        color: #fff;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
}

p{
    color: darkred;
    font-family: 'DotGothic16', sans-serif;
    font-size: small;
    font-display: inherit;
}

.express{
    color: orangered;
    font-size: larger;
    font-weight: 300;
}

header{
    color: navy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight:600; 
    margin: auto;
}

#greenbackground{
    background-color: green;
}

.onthemove{
    position: relative;
    animation: onthemove 5s infinite;
}

@keyframes onthemove{
    from {left: 0px;}
    to {left: 200px;}
}
