body{
    background-color: lightcyan;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size-adjust: none;
    text-align: center;
}

header{
    border: 6px ridge rgb(10, 238, 40);
    background-color: honeydew;
    font-size: large;
    font-style: oblique;
    border-radius: 16px;
    padding: 3px;
    position: sticky;
    top: 6px;
    margin: auto;
    width: 80%;
}

ul.navigatie{
    border:6px ridge teal;
    border-radius: 16px;
    position: sticky;
    top: 0;
    width: 80%;
    list-style-type: none;
    margin: 3px auto;
    margin-bottom: 18px;
    padding: 3px;
    overflow: hidden;
    background-color: honeydew;
}

li.navigatie{
    float:inline-start;
    border-right: auto;
    padding: 12px;
}

li a.navigatie{
    border:6px solid rgb(33, 11, 230);
    border-radius: 16px;
    background-color: rgb(33, 236, 135);
    font-size: larger;
    text-align: center;
    text-decoration: moccasin;
    display: block;
    padding: 8px;
}

li a.navigatie:hover {
    background-color: rgb(12, 235, 41);
}

@media screen and (max-width: 320px) {}

@media(min-width: 1024px) {
    body{
        background-color: lightgrey;
        color: rgb(10, 31, 31);
        font-size: smaller;
        line-height: 30px;
    }
}
/*/ Smartphones (portrait)
minimale breedte : 320px;

// Tablets (portrait)
minimale breedte : 768px

// Desktop 
minimale breedte : 1024px*/ 